<header>
    <div class="container-fluid">
         <div class="row" id="rowSuperiorIconoYpais">
             <div class="col-md-4 col-sm-3" id="iconoYtitulo">
                <img src="assets/Ima.jpg" alt="">
                <h3>Clima</h3>
             </div>
             <div class="col-md-4 col-sm-3">
                
             </div>
             <div class="col-md-4 col-sm-3" id="paisYregion">
                <h3 id="regionMostar">Chile-{{retornarNombre()}} </h3>
             </div>
         </div>
    </div>
    <app-navbar></app-navbar>
    
</header>


